<!-- /////////////////Home Display All Flights and Add New Flight ////////////////-->
<div class="home">
<h1>Flight Tracker</h1>
<hr>
<form *ngIf="!selected">
  <h2>Add a Flight</h2>
  <label for="launchSiteName">Launch Site Name:</label>
  <input type="text" name="launchSiteName" [(ngModel)]="newFlight.launchSiteName"
  /><br />

  <label for="landingSiteName">Landing Site Name:</label>
  <input type="text" name="landSiteName" [(ngModel)]="newFlight.landSiteName"
  /><br />

  <label for="launchLatitude">Launch Latitude:</label>
  <input type="text" name="launchLatitude" [(ngModel)]="newFlight.launchLatitude"
  /><br />

  <label for="launchLongitude">Launch Longitude:</label>
  <input type="text" name="launchLongitude" [(ngModel)]="newFlight.launchLongitude"
  /><br />

  <label for="landLatitude">Land Latitude:</label>
  <input type="text" name="landLatitude" [(ngModel)]="newFlight.landLatitude"
  /><br />

  <label for="landLongitude">Land Longitude:</label>
  <input type="text" name="landLongitude" [(ngModel)]="newFlight.landLongitude"
  /><br />

  <label for="commentInput">How was the flight?</label><br />
  <textarea name="commentInput" rows="4" cols="50" [(ngModel)]="newFlight.comment"
  ></textarea
  ><br />

  <input type="submit" name="submit" (click)="addNewFlight()" />
</form>
<hr />
</div>
<!-- /////////////////Home Display All Flights and Add New Flight ////////////////-->

<!-- /////////////////Display all Flights ////////////////-->
<div name="displayAllFlights" *ngIf="! selected">
  <h2>All Recorded Flights</h2>
<table id="displayAllFlights" class="table table-striped">
  <thead>
    <tr>
      <th colspan="1">Flight Number</th>
      <th colspan="1">Launch Site</th>
      <th colspan="1">Comments</th>
      <th colspan="1">Launch Date</th>
    </tr>
  </thead>
<tbody>
  <tr *ngFor="let flight of flights" >
    <td>{{ flight.id }}</td>
    <td >{{ flight.launchSiteName }}</td>
    <td>{{ flight.comment }}</td>
    <td>{{ flight.launchDateTime }}</td>
    <td><button (click) = "setSelected(flight)">View Details</button></td>

    <!-- <button>View Flight Details</button> -->
  </tr>
</tbody>
</table>
</div>
<!-- /////////////////Display all Flights ////////////////-->

<!-- /////////////////Display Flight Details  ////////////////-->
<div id="flightDetailsDiv" *ngIf="selected && !editFlight">
  <h2>Flight Details</h2>

  <table id="flightListDetailsTable" >
    <th>
      <tr>
        <td>Flight {{selected.id}}</td>
      </tr>
    </th>
    <tbody>
      <tr>
        <label for="launchSiteName">Launch Site Name:</label>
        <td>{{ selected.launchSiteName }}</td>
      </tr>
      <tr>
        <label for="landingSiteName">Landing Site Name:</label>
        <td>{{selected.landSiteName}}</td>
      </tr>
      <tr>
        <label for="launchLongitude">Launch Longitude:</label>
        <td>{{selected.launchLongitude}}</td>
      </tr>
      <tr>
        <label for="launchLatitude">Launch Latitude:</label>
        <td>{{selected.launchLatitude}}</td>
      </tr>
      <tr>
        <label for="landLongitude">Land Longitude:</label>
        <td>{{selected.landLongitude}}</td>
      </tr>
      <tr>
        <label for="landLatitude">Land Latitude:</label>
        <td>{{selected.landLatitude}}</td>
      </tr>
      <tr>
        <label for="comment">Comment:</label>
        <td>{{selected.comment}}</td>
      </tr>
      <tr>
        <label for="launchDateTime">Launch Date Time</label>
        <td>{{selected.launchDateTime}}</td>
      </tr>
      <tr>
        <label for="landDateTime">Land Date Time</label>
        <td>{{selected.landDateTime}}</td>
      </tr>
      <button (click)='selected=null'>Back</button>
      <button (click)='setEditFlight()'>Edit Flight</button>
      <td></td>
    </tbody>
  </table>
</div>
<!-- /////////////////Display Flight Details  ////////////////-->


<!-- /////////////////Edit Flight ////////////////-->
<div id="editFlight" *ngIf="editFlight " class="editFlight">
  <h2>Edit Flight</h2>
    Launch Site Name: <input type="text" name="launchSiteName" [(ngModel)]="editFlight.launchSiteName"><br>
    landingSiteName: <input type="text" name="landingSiteName" [(ngModel)]="editFlight.landSiteName"><br>
    launchLatitude: <input type="text" name="launchLatitude" [(ngModel)]="editFlight.launchLatitude"><br>
    launchLongitude: <input type="text" name="launchLongitude" [(ngModel)]="editFlight.launchLongitude"><br>
    Landing Latitude: <input type="text" name="landLatitude" [(ngModel)]="editFlight.landLatitude"><br>
    Landing Longitude: <input type="text" name="landLongitude" [(ngModel)]="editFlight.landLongitude"><br>
    Comment: <textarea rows="4" cols="50" type="text" name="comment" [(ngModel)]="editFlight.comment"> </textarea><br>

    <input type="submit" name="Save" value="Save" (click)="updateFlight(editFlight)">
    <button (click)='deleteFlight(editFlight.id)'>Delete</button>
    <button (click)='editFlight=null'>Back</button>

</div>
<!-- /////////////////Edit Flight ////////////////-->
